.title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff8e0a;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 50px;
  gap: 50px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.healthScore {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
}

.imgContainer {
  width: 100%;
}

.img {
  width: 100%;
  border-radius: 20px;
}

.spanId {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
} 

.dietsContainer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.dietsTitle {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
  padding-bottom: 5px;
}

.dietList {
  list-style: none;
  font-size: 22px;
  font-weight: 700;
}

.summary {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.summaryText {
  font-size: 18px;
  font-weight: 600;
  color: #909090;
}

.summaryText a {
  color: #c1c1c1;
}

.recipesSection {
  background: #ff8e0a;
  color: #181818;
  padding-top: 15px;
}

.stepsBox {
  background: #181818;
  color: #ff8e0a;
  width: 150px;
  padding: 5px 5px 7px;  
  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  letter-spacing: 2px;
}

.steps {
  font-weight: 600;
  list-style: decimal;
  padding: 20px 45px 40px;
}

.steps li {
  padding-bottom: 10px ; 
}

@media (min-width: 800px) {
  .summaryText {
    font-size: 19px;
  }

  .steps {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .top {
    flex-direction: row;
    align-items: flex-start;
    max-width: 1400px;
    
  }

  .cardContainer {
    width: 50%;
  }

  .summaryContainer {
    padding-top: 12px;
    width: 50%;
  }
  .summaryText {
    line-height: 1.5;
  }

}

@media (min-width: 1300px) {
  .top {
    gap: 100px;
  }

  .title {
    font-size: 2.5rem;
  }

}