.nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconLink {
  user-select: none;
  cursor: pointer;
  padding-right: 15px;
}

.icon {
  width: 28px;
}


.list {
  display: flex;
  justify-content: space-around;
  gap: 35px;
  
  list-style: none;
  font-family: Poppins;
  font-weight: 900;
  font-size: 22px;
}

.listItem {
  display: none;

}

.listItemLink {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 660px) {
  .listItem {
    display: inline;
  }
}