.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h2 {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  line-height: 1;
}

.h2orangeSpan {
  color: #ff8e0a;
}

.h2span {
  display: block;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 20px;
  position: relative;
  z-index: 10;
}