.cardOuter {
  width: 280px;
  height: 432px;

  background-color: transparent;
  perspective: 1000px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */

  border-radius: 20px;
  
  text-align: center;
  font-family: Poppins;
}

.cardFront {
  background-color: #222222;
  border-radius: 20px;
  padding-top: 15px;

  color: #ff8e0a;
}

.cardBack {
  background-color: #222222;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 15px;
}

.healthScore {
  text-transform: uppercase;
  font-weight: regular;
  font-size: 18px;
  color: #fff;
}

.image {
  width: 90%;
  border-radius: 20px;
}

.name {
  padding-top: 20px;
  font-size: 20px;
  line-height: 95%;
  padding: 10px 10px 0;
}

.p {
  font-size: 20px;
  font-weight: bold;
  margin: 0 25px;
}

.list {
  padding-top: 15px;
  list-style: none;

  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.seeDietsBtn {
  width: 125px;
  padding: 5px;
  border: none;
  border-radius: 20px;

  background-color: #ff8e0a;

  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  color: #fff;

  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%);

  transition: .3s;
}

.seeDietsBtn:hover {
  box-shadow: 0px 0px 1px 7px #fc870344;
}

