.filterBox {
  display: flex;
  gap: 15px;

  width: 130px;
  padding: 5px 8px 5px 12px;
  border-radius: 10px;
  background: #242424;
  
  font-family: Poppins;
  font-size: 15px;
  color: #fff;
}

.icon {
  width: fit-content;
}